body {
    background:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

.produit1 {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 45%;
}

.liste {
    display: flex;
    background-color: rgb(112, 63, 63);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.lien {
    color: white;
    font-size: 30px;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

}

.lien logo {
    margin-left: auto;
}

.image{
    height: 1600px;
    background-image:url('machine.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 1500%;
    margin-left: auto;
    margin-right: auto;
}
.produit1 {
   float: right;
}


.container{
    padding: 5%;
    font-size: 230%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(112, 63, 63);
}

.container h2{
    font-size: 430%;
    padding: 5%;
}

html, body {
    scroll-behavior: smooth;
}

.produit1 {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items:center;
    margin-bottom: 80px;
}